<div class="banner">
    <div class="container">
      <h1 class="title">Stupid Coaching</h1>
    </div>
</div>

<div class="container">
  <h2 class="heading">Your Question</h2>
  <p class="input"><%=@question%><p>

  <h2 class="heading">Coach Answer</h2>
  <p class="output"><%=@answer%><p>
</div>
<div class="backlink">
  <a href="/">Ask another question</a>
</div>
